body{min-width:1000px; background:#000;background: url('../images/space-bg-grad.png') top left repeat-x; font-family: Helvetica, sans-serif;
}
h1 {text-align: center; cursor: pointer; color:#fff;}
h1.exhibitionTitle{font-size: 3em;}
#person{min-width:1000px;
position:absolute;
top:380px;
width:100%;
z-index:5;}

#thePerson{
display:block;
height:322px;
position:fixed;
top:100px;
z-index:11;
background: url('../images/spacecap.png') top left no-repeat;
}

.personContainer{
	overflow-y:hidden;
	width:157px; margin:0 auto;}
	
#back{
	bottom:50px;
color:#FFFFFF;
font:14px sans-serif;
height:28px;
padding-top:11px;
position:fixed;
right:0;
text-decoration:none;
text-indent:30px;
width:186px;
z-index:2000;}

.container{

position:relative;
width:300px;
}

.itemContent{display: none; background:#fff; width:100%; left:0; top:-21px; color:#000; z-index:12; position: relative;}
section.even .itemContent{float: right;}
	
	section{margin-bottom: 1em;}
	section.odd .container{background:#34adb5; margin-bottom: 1em; z-index:15;}
	section.even .container{background:#e020a3; clear: both; float: right; margin-bottom: 1em;}
	
	#sect_196459{background: url('../images/stars1.png') top left no-repeat;}


.num_tags{display: none;}