<!DOCTYPE html>
<html>
<head>
  <title>Amped</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>

  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin' rel='stylesheet' type='text/css'>

<script type="text/javascript">
    // <![CDATA[
        $(document).ready(function(){
            $("h1").click(function(){
				$(".itemContent").hide();
				$(this).toggleClass("open").next().toggle();
              	//$(this).next(".itemContent").show();
            });
        });

		twitter_search = function(response) {
			$(response.results).each(function(index, element) {
				$("#tweetstream").append(
					"<li><img src='" + 
					element.profile_image_url + 
					"'/><span class='username'>" + 
					element.from_user + 
					"</span><span class='tweet'>" + 
					element.text + 
					"</span></li>")
			})
		}
		$(function() {
			$('body').append("<script src='http://search.twitter.com/search.json?q=%23powerhousemuseum&callback=twitter_search'></script\>")
		})
		
        // ]]>
      </script>
</head>
<body>
	<div id="back"><a href="back">back</a></div>
	<div id="person">
		<div class="personContainer">
			<div id="thePerson" class="personContainer">
			</div>
		</div>
	</div>
		<ul id="tweetstream">
	</ul>
	
<%= yield %>

</body>
</html>
