<!DOCTYPE html>
<html>
<head>
  <title>Amped</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>

</head>
<body>
	<div id="gabber-talk" class="gabber-talk">

	<%= yield %>

	<script src="http://explorer-sox.no.de/845c0a1287da5c09377574389f52e249/bootstrap.js" async></script>
</body>
</html>
