<!DOCTYPE html>
<html>
<head>
  <title>Amped</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>

  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin' rel='stylesheet' type='text/css'>

<script type="text/javascript">
    // <![CDATA[
        $(document).ready(function(){
            $("h1").click(function(){
				
				$(".itemContent").removeClass("open")
				$(".itemContent").hide();
				if($(this).hasClass("open"))
				{
					$(this).parent().parent().next().hide()
					$('section').show();
					$(this).removeClass("open");
				}
				else
				{
					$("section").hide();
					$(this).parent().parent().parent().show();
					$(this).parent().parent().next().show();
					$(this).addClass("open")
				}
              	//$(this).next(".itemContent").show();
            });
			
          });
        // ]]>
      </script>
</head>
<body>
	<!--<div id="back"><a href="back">back</a></div>-->
	<div id="person">
		<div class="personContainer">
			<div id="thePerson" class="personContainer">
			</div>
		</div>
	</div>
	
	<h1 class="exhibitionTitle">Apollo Mission Exhibition</h1>

<%= yield %>

</body>
</html>
